<?xml version="1.0" encoding="UTF-8" ?>

<beans>
    <bean id="accountDao" class="com.hetengjiao.dao.impl.JdbcAccountDaoImpl">
        <property name="ConnectionUtils" ref="connectionUtils"/>
    </bean>

    <bean id="transferService" class="com.hetengjiao.service.impl.TransferServiceImpl">
        <property name="AccountDao" ref="accountDao"/>
    </bean>

    <bean id="connectionUtils" class="com.hetengjiao.utils.ConnectionUtils">

    </bean>

    <bean id="transactionManager" class="com.hetengjiao.utils.TransactionManager">
        <property name="ConnectionUtils" ref="connectionUtils"/>
    </bean>

    <bean id="proxyFactory" class="com.hetengjiao.factory.ProxyFactory">
        <property name="TransactionManager" ref="transactionManager"/>
    </bean>
</beans>